<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
</head>
<body>
    <h2>EducationBackground:</h2>
    <p>
        Degree Earned: Software Engineering in Applied Computer Technology<br>
        Name of University: United States International University-A Nairobi, Kenya<br>
        Year of Graduation: Fall 2024 (ongoing) <br>
        <br>
        Certificate: Azure Fundamentals in Cloud Computing<br>
        Microsft Certified<br>
        Year of Acquisition: 2022</p>
        
        Certificate: DevOps Engineer Expert in Designing and Implementing Microsoft DevOps Solutions<br>
        Microsft Certified<br>
        Year of Acquisition: (ongoing)</p>
</body>
</html>