<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Details</title>
    
</head>
<body>
    <h2>Personal Details</h2>
    <p>
        <img src="me.jpeg" alt="Example Image"><br>
        Name: Tapiwa Civil Chimbwanda <br>
        Address: USIU Road, Off Thika Road (Exit 7)<br>        
        Phone Number: +254743036433<br>
        Email: tapiwachimbwanda4@gmail.com<br>
        LinkedIn Profile: Tapiwa Chimwbanda<br>
        Personal Website: www.tchimbwanda.com (under construction)</p>
    
</body>
</html>
