<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
</head>
<body>
    <p><h1>Special Skills</h1>
        <ul> 
            <li>Technical Skills:
                <ul>Hiking</ul>
                <ul>Photography</ul>
                <ul>Reading</ul>
                <ul>Cooking</ul>
                <ul>Painting</ul>
            </li> 
            <br>
            <li>Language Proficiency:
                <ul>Shona</ul>
                <ul>Zulu</ul>
                <ul>English</ul>
                <ul>Spanish</ul>                
            </li> 
            <br>
            <li>Project Management:
                <ul>Agile/Scrum Methodologies</ul>
                <ul>Project Planning and Coordination</ul>
                               
            </li> 
               
        </ul></p>
</body>
</html>